/* ----- MENÚ VERTICAL ----- */
nav {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 120px;
}

.navbar-tabs {
    list-style: none;
}

.navbar-tabs li {
    margin-bottom: 10px;
}

.navbar-tabs a {
    display: block;
    background: #495057; /* Gris oscuro */
    color: white !important;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* ----- CONTENIDO PRINCIPAL ----- */
body {
    font-family: Arial;
    background: #f8f9fa;
    padding: 40px 20px 20px 120px;
}

h1 {
    color: #6c5ce7;
}
